<div id="debug">
  {{#if name}}
  <button {{action 'logOut'}}>Log Out</button>
  {{else}}
  <button {{action 'logIn'}}>Log In</button>
  {{/if}}
</div>

<div id="main-menu-container">
  <header>
    {{#link-to 'application' class="title"}}
      <div id="title">
        <h2>YBARRA</h2>
      </div>
      {{/link-to}}

  </header>

  <div id="login" class>
  
  {{#if name}}
    <div id='userbar'>
      <a href>{{name}}</a> {{money}} <a href><span><font size=1>(выход)</font></span></a>
    </div>
  {{else}}
    <div id="faq">
      {{#link-to 'faq'}}
        <span>FAQ</span>
      {{/link-to}}
      </a>
    </div>
    <div id="about">
      {{#link-to 'about'}}
        <span>О проекте</span>
      {{/link-to}}
    </div>
    <div id="steam-log-in">
      <a href="html/index_en.html"><img src="pic/sits_small.png"></a>
    </div>
{{/if}}
  </div>

  <div id="container">

    <div id="left-sidebar">
      <ul>
        <li>{{#link-to 'steam' class="game-button"}}
          <img src="pic/games/steam.jpg" alt="Steam">
          <span>Steam Games</span>{{/link-to}}</li>
        <li>{{#link-to 'dota' class="game-button"}}
          <img src="pic/games/dota2.jpg" alt="Dota 2">
          <span>Dota 2</span>{{/link-to}}</li>
        <li>{{#link-to 'cs-go' class="game-button"}}
          <img src="pic/games/csgo.jpg" alt="CS:GO">
          <span>CS:GO</span>{{/link-to}}</li>
        <li>{{#link-to 'tf' class="game-button"}}
          <img src="pic/games/tf2.jpg" alt="Team Fortress 2">
          <span>Team Fortress</span>{{/link-to}}</li>
        <li>{{#link-to 'sellgame' "dota" 1 class="game-button"}}
          <img src="pic/games/tf2.jpg" alt="Продать вещи">
          <span>Продать</span>{{/link-to}}</li>
          {{#if name}}
        <li>
          <div id="my-profile">
            <a href="#/my" id="profile">
              <img src="pic/av.jpg" width="32" alt="Личный кабинет">
              <span>Личный кабинет</span>
            </a>
          </div>
        </li>
        {{/if}}
      </ul>      
    </div>

  <div id="main">

{{outlet}}
  </div>

  </div>

  <!--footer>
    <div id="rules">
      <a href="" class="rules">Правила Пользования</a>
    </div>
  </footer-->
</div>

