<div id="main">
<p>Betards!</p>

<nav>
  <div id="comm">
    Комиссия <br>
    {{input value=r}}% <button {{action 'go'}}>Go</button>
  </div>

  <div id="odds">
    Отношение коэф <br>
      {{input value=ratio}} <button {{action 'changeRatio'}}>Change</button>
  </div>

</nav>

<table>
  <tbody>
    <tr>
      <th> Event Name </th>
      <th> <span class="number">1</span> </th>
      <th> <span class="number">2</span> </th>
    </tr>

    <tr>

      <td>
        <div>
          <span class="number">1.</span> {{team1}}
        </div>
        <div>
          <span class="number">2.</span> {{team2}}
        </div>
      </td>

      <td>{{coef1}}</t>

      <td>{{coef2}}</td>

    </tr>
  </tbody>

</table>



<div id="bet">
Поставить
{{input value=money}}$ на
</div>

<div id="team1">
<a href="#" {{action 'bet' 1}}>{{team1}}</a>
  <div class="wrapper">

    <div class="table2">

      <div class="row header">
        <div class="cell">
          Money
        </div>
        <div class="cell">
          Coeff
        </div>
      </div>

      {{#each bet in model.team1}}
      <div class="row">
        <div class="cell">
          {{bet.money}}
        </div>
        <div class="cell">
          {{bet.coef}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div id="team2">
<a href="#" {{action 'bet' 2}}>{{team2}}</a>
  <div class="wrapper">

    <div class="table2">

      <div class="row header blue">
        <div class="cell">
          Money
        </div>
        <div class="cell">
          Coeff
        </div>
      </div>

      {{#each bet in model.team2}}
      <div class="row">
        <div class="cell">
          {{bet.money}}
        </div>
        <div class="cell">
          {{bet.coef}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


<div id="total">
Расчеты
<table>
  <tbody>
    <tr>
      <th> Взято денег </th>
      <th> К выплате, если {{team1}} победит </th>
      <th> К выплате, если {{team2}} победит </th>
    </tr>

    <tr>

      <td>
        {{model.total}}
      </td>

      <td>{{model.needtoPay1}}</td>

      <td>{{model.needtoPay2}}</td>

    </tr>
  </tbody>

</table>
</div>
</div>
