<div class='inventory-main'>
  <div class= 'item-container'>
    {{#each item in items}}
      <div {{bind-attr class=":item-holder key"}}>
        <a {{bind-attr class=":idlol key"}}>
          {{#if item}}
            <img src="{{unbound item.image}}" class="item-image">
	           <!--img src="pic/ajax-loader.gif" alt="loading" class="loading-gif"-->
          {{/if}}
        </a>  
      </div>
    

    {{/each}}

    {{#link-to 'sell' previousPage}}Previous{{/link-to}}
    <span>Страница 
    {{currentPage}}
     из {{pages}}</span>
       {{#link-to 'sell' nextPage}}Next{{/link-to}}



  </div>

  <div class='item-description'>
    {{outlet}}
  </div>

</div>