  <div class= 'item-container'>

    {{#each item in items}}
      <div {{bind-attr class=":item-holder item.id"}}>
        <a {{bind-attr class=":idlol item"}}>
          {{#if item}}
            <img src="{{unbound item.imgURL}}" class="item-image">
             <!--img src="pic/ajax-loader.gif" alt="loading" class="loading-gif"-->
          {{/if}}
        </a>  
      </div>
    

    {{/each}}

    {{#link-to 'sellgame' game 1}}First{{/link-to}}
    {{#link-to 'sellgame' game previousPage}}Previous{{/link-to}}
    <span>Страница 
    {{currentPage}}
     из {{pages}}</span>
    {{#link-to 'sellgame' game nextPage}}Next{{/link-to}}
    {{#link-to 'sellgame' game pages}}Last{{/link-to}}



  </div>

  <div class='item-description'>
    {{outlet}}
  </div>