  <div class= 'item-container'>

    {{#each item in model.items}}
      <div {{bind-attr class=":item-holder item.id"}}>
        {{#link-to 'sellitem' item.classid item.instanceid class="idlol"}}
          {{#if item}}
            <img src="{{unbound item.imgURL}}" class="item-image">
             <!--img src="pic/ajax-loader.gif" alt="loading" class="loading-gif"-->
          {{/if}}
        {{/link-to}}  
      </div>
    
    {{/each}}

    <div id="paging">
      {{#if previousPage}}
        {{!--#link-to 'sellgame' game 1}}<span>First</span>{{/link-to}}
        {{#link-to 'sellgame' game previousPage}}<span>Previous</span>{{/link-to--}}
        <button {{action 'showPage' game 1}}>First</button>
        <button {{action 'showPage' game previousPage}}>Previous</button>
      {{else}}
        <span>First</span>
        <span>Previous</span>
      {{/if}}

      <span>Страница {{currentPage}} из {{pages}}</span>

      {{#if nextPage}}
        {{!--#link-to 'sellgame' game nextPage}}<span>Next</span>{{/link-to}}
        {{#link-to 'sellgame' game pages}}<span>Last</span>{{/link-to--}}
        <button {{action 'showPage' game nextPage}}>Next</button>
        <button {{action 'showPage' game pages}}>Last</button>
      {{else}}
        <span>Next</span>
        <span>Last</span>
      {{/if}}

      <button {{action 'refreshList' game}}>Refresh</button>
    </div>




  </div>

  <div class='item-description'>
    {{outlet}}
  </div>